.img_profil_create_container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 1%;
}

.img-radius {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    padding: 1%;
    border: 1px solid #f1f1f1;
}

.form_titre_page_login {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 15px 15px 0 0;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

.form_champ_page_login {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.div_main_page_create {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 40%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 10px rgba(255, 255, 255, 0.6);
}

.user_pseudo {
    text-align: center;
    background: linear-gradient(to right, #a95 20%, #fea 40%, #a95 60%, #fea 80%, #a95 100%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: brillance 5s linear infinite;
}

@keyframes brillance {
    to {
        background-position: 200% center;
    }
}

.bouton_recherche_user {
    background-color: white;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    width: 100%;
    font-weight: 900;
    text-transform: uppercase;
}

.bouton_recherche_user:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px lawngreen;
}

/* PARTIE QCM */

.main_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.name_qcm_div {
    text-align: center;
    background: linear-gradient(270deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    padding: 4%
}

.div_question {
    width: 100%;
}

.radio {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.input_title {
    width: 50%;
    border-radius: 25px;
    border: none;
    padding: 0.7%;
    margin: 1%;
    text-align: center;
    font-size: 24px;
}

.input_question {
    width: 50%;
    border-radius: 15px;
    border: none;
    padding: 1%;
    margin: 1%;
}

/* PARTIE COURS CREATION */


.main_div {
    width: 100%;
    height: auto;
}

.div_contenu {
    height: auto;
    padding: 3%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    box-shadow: 0 0 10px white;
}

.name_cours {
    text-align: center;
    transform: scale(1.9);
    border-radius: 50px;
    border: none;
    padding: 1% 2%;
}

.div_cours {
    margin-top: 2%;
    width: 100%;
    min-width: 100vh;
    min-height: 50vh;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
