
.bouton_recherche_user {
    background-color: white;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 15px 32px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    width: 15%;
    font-weight: 900;
    text-transform: uppercase;
}

.bouton_recherche_user:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px aquamarine;
}

.main_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.name_qcm_div {
    text-align: center;
    background: linear-gradient(270deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    padding: 4%
}


.div_question {
    width: 100%;
}

.radio {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.input_title {
    width: 50%;
    border-radius: 25px;
    border: none;
    padding: 0.7%;
    margin: 1%;
    text-align: center;
    font-size: 24px;
}

.input_question {
    width: 50%;
    border-radius: 15px;
    border: none;
    padding: 1%;
    margin: 1%;
}

.bouton {
    margin-top: 1%;
    text-align: center;
    font-size: 16px;
    padding: 8px 16px;
    font-weight: bolder;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.bouton_ajout_reponse {
    background-color: transparent;
    border: 1px solid #17a2b8;
    color: #17a2b8;
}

.bouton_ajout_reponse:hover {
    background-color: #17a2b8;
    color: white;
}

.bouton_cree_qcm {
    background-color: transparent;
    border: 1px solid #28a745;
    color: #28a745;
}

.bouton_cree_qcm:hover {
    background-color: #28a745;
    color: white;
}

.bouton_delete_question {
    background-color: transparent;
    border: 1px solid #dc3545;
    color: #dc3545;
}

.bouton_delete_question:hover {
    background-color: #dc3545;
    color: white;
}

.bouton_add_question {
    background-color: transparent;
    border: 1px solid #ffac03;
    color: #ffac03;
}

.bouton_add_question:hover {
    background-color: #ffac03;
    color: white;
}


