
.div_login_all {
    margin: auto;
    box-sizing: border-box;
    font-family: YuKyokasho, serif;
}

.div_main_page_login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 15px rgba(255, 255, 255, 0.5);
}

.form_titre_page_login {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: white;
    border-radius: 15px 15px 0 0;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

.form_create_topic {
    padding: 20px 40px 60px 30px;
}
.form_create_topic > textarea{
    width: 100%;
    border-radius: 5px;
}

.form_champ_page_login {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.form_champ_page_login > input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 25px;
}

.form_champ_page_login > textarea {
    height: auto;
    width: 100%;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 25px;
}

.form_champ_page_login > input:focus {
    border-color: aquamarine;
}

.form_champ_page_login > textarea:focus {
    border-color: aquamarine;
}

.form_champ_page_login label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #6d6d6d;
    font-weight: 400;
    font-size: 20px;
    pointer-events: none;
    cursor: none;
    transform: translateY(-50%);
}

.form_champ_page_login > input:focus ~ label {
    top: 0%;
    font-size: 20px;
    border-color: #052fff;
}

.form_champ_page_login > textarea:focus ~ label {
    top: 0%;
    font-size: 20px;
    border-color: #052fff;
}

.bouton_creer_forum{
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

.bouton_creer_forum:hover {
    background: -webkit-linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    transform: scale(1.11);
    background: linear-gradient(270deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 600% 600%;
    -webkit-animation: Animation_Bouton_Gradient 4s ease infinite;
    animation: Animation_Bouton_Gradient 4s ease infinite;
    transition: all 0.3s ease-in-out;
}

.lien_page_login {
    margin-top: 25px;
    text-align: center;
}

.lien_page_login a {
    color: #00b0ff;
}

