:root {
  /* Couleur de fond de la page */
  --primary-color: #4451dd;
}

html,
body {
  background-color: var(--primary-color);
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.contenu {
  background-color: white;
  color: transparent;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10%;
  padding: 5%;
}

.item {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  text-align: center;
  width: 100%;
  padding-top: 5%;
  margin: auto;
  font-weight: bold;

  border-radius: 5px;
}

.item:hover {
  transform: scale(1.1); /* Équivalent à scaleX(0.7) scaleY(0.7) */
  background-color: orange;
}

.img_desc {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: 5px;
  margin: auto;
}

.fin_accueil {
  color: transparent;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%;
  padding: 5%;
}

.fin_accueil_liste {
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  text-align: center;
  padding-top: 5%;
  margin: auto;
  font-weight: bold;
  border-radius: 5px;
}

.accueil_lien_clic {
  text-decoration: none;
  color: white;
}

.essayer {
  text-align: center;
  margin: auto;
  background-color: white;
  display: block;
  margin: 0 auto;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.essayer:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px rgb(255, 149, 0);
}

.form_container{
  background-color: white;
  color: black;
  width: 30%;
  margin: 10vh auto;
  text-align: center;
  padding: 20px;
}