
table {
    margin-top: 5%;
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #00a9ff;
    height: auto;
    border: 1px solid white;
}

td {
    text-align: center;
    border: 1px solid white;
}

td > h3 > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.img_delete_topic {
    background-color: transparent;
    background-image: url("/img/trash.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    padding: 1%;
    display: inline-block;
    vertical-align: middle;
    transition: transform 100ms ease-in;
    transform: scale(0.5);
}

.img_delete_topic:hover {
    transform: scale(0.7);
}

.bouton_creer_forum {
    margin-top: 3%;
    text-align: center;
    padding: 16px 32px;
    border-radius: 50px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid limegreen;
    cursor: pointer;
}

.bouton_creer_forum:hover {
    background-color: limegreen;
    transform: scale(1.11);
    background-size: 200% 200%;
    -webkit-animation: Animation_Bouton_Gradient 4s ease infinite;
    animation: Animation_Bouton_Gradient 4s ease infinite;
    transition: all 0.3s ease-in-out;
}

.button_lien_topic {
    padding: 16px 2%;
    border-radius: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    width: 30%;
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: all 0.3s ease-in-out;
}

.button_lien_topic:hover {
    transform: scale(1.11);
}








