:root {
    /* Couleur de fond de la page */
    --body-background-color: transparent;
    --body-background-light: #4451dd;
    --body-background-dark: #333336;
}

html {
    background-color: transparent;
    color: transparent;
}

body {
    background-color: var(--body-background-color);
    color: white;
    height: 100%;
    margin: 10vh 0 10vh 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(180deg, #ff8618, #ff3d61, #b51fec);
    background: linear-gradient(180deg, #ff8618, #ff3d61, #b51fec);
    border-radius: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Pour les boutons de la scrollbar */
::-webkit-scrollbar-button {
    background-color: #f1f1f1;
}

.back_button {
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.back_button:hover {
    transform: scale(1.2);
}

.bouton {
    margin-top: 1%;
    text-align: center;
    font-size: 16px;
    padding: 8px 16px;
    font-weight: bolder;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.bouton_bleu {
    background-color: transparent;
    border: 1px solid #17a2b8;
    color: #17a2b8;
}

.bouton_bleu:hover {
    background-color: #17a2b8;
    color: white;
}

.bouton_vert {
    background-color: transparent;
    border: 1px solid #28a745;
    color: #28a745;
}

.bouton_vert:hover {
    background-color: #28a745;
    color: white;
}

.bouton_rouge {
    background-color: transparent;
    border: 1px solid #dc3545;
    color: #dc3545;
}

.bouton_rouge:hover {
    background-color: #dc3545;
    color: white;
}

.bouton_orange {
    background-color: transparent;
    border: 1px solid #ffac03;
    color: #ffac03;
}

.bouton_orange:hover {
    background-color: #ffac03;
    color: white;
}

.bouton_blanc {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.bouton_blanc:hover {
    background-color: white;
    color: black;
}


/*Animation du bouton quand on passe dessus + adapté pour certains sites*/
@-webkit-keyframes Animation_Bouton_Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Animation_Bouton_Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}