#imgcontainer{
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;
}

#imgUser{
    width: 128px;
    height:128px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin: 0 10px 0 0;
}

#imgUser:hover{
    border: 2px solid #000;
}

#imgUser:active{
    border: 2px solid #ccc;
    transform: scale(1.1);
}